{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to Living Lab Data</h1>
    <p class="lead">
      Ever wondered where the air pollution hotspots are around the University of Leeds campus? <br>
      Volunteers of the <a href="http://sustainability.leeds.ac.uk/the-living-lab/" target="_blank">Living Lab</a> project have been
        hard at work walking around collecting measurements. <br>
        See the concentration map from the latest walk below! You can also find maps for all other walks <a href="/living-lab/uploads" >here</a>. <br>
    <p>
  </div>
  {% if latest %}
    <iframe src="/living-lab/latest" width="100%" height=1000px style="border:none;"></iframe>
  {% endif %}
{% endblock %}
