{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to Living Lab for Air Quality: Data</h1>
    <p class="lead">
      Ever wondered about air quality across different areas of The University of Leeds?
A team of staff and student volunteers have been helping us to collect measurements by regularly walking around campus with particulate matter counters.
This is part of the <a href="http://sustainability.leeds.ac.uk/the-living-lab/" target="_blank">Living Lab for Air Quality</a> project –
a collaboration between operational and academic teams to build knowledge which supports our aims to improve health and environment at the University.
You can see the concentration map for the latest monitoring walk below and find the archive of all walks to date <a href={{subd}}/uploads >here</a>.
    <p>
  </div>
  {% if latest %}
    <iframe src={{subd}}/latest width="100%" height=1000px style="border:none;"></iframe>
  {% endif %}
{% endblock %}
