<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Living Lab for Air Quality: Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    {% with subd=subd %}
      {% include 'includes/_navbar.html' %}
    {% endwith %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
