{% extends 'layout.html' %}

{% block body %}
  <h1>Uploads {% if LoggedIn %}<small>Welcome {{ session.username }}</small>{% endif %} </h1>
  <hr>
  <h2>Upload New CPC Files</h2>
  {% if LoggedIn %}
    <form id="upload-form" action={{subd}}/uploads method="POST" enctype="multipart/form-data">
       <input type="file" name="file">
       <input type="submit" value="Upload">
    </form>
  {% else %}
    You must be <a href={{subd}}/login>logged in</a> to upload files
  {% endif %}
  <hr>

  {% if AllCPCFiles %}
    <h2>All Maps</h2>
    <table id="upload-table" class="table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>CPC filename</th>
            <th>Date of walk</th>
            <th>Uploaded by</th>
            <th>Upload date</th>
            <th></th>
            <th><div data-toggle="tooltip" title="Plot map showing only the selected route">Single route</div></th>
            <th><div data-toggle="tooltip" title="Plot map showing the selected route and all other routes walked on the same day">Multiple routes</div></th>
        </tr>
      </thead>
      <tbody>
      {% for file in AllCPCFiles %}
        <tr>
          <td>{{file.id}}</td>
          <td>
            {% if LoggedIn %}
              {% if file.username == session.username %}
                <form action={{subd}}/download/{{file.id}} method="post">
                  <a href="#" onclick="this.parentNode.submit()">{{file.filename}}</a>
                </form>
              {% else %}
                {{file.filename}}
              {% endif %}
            {% else %}
              {{file.filename}}
            {% endif %}
          </td>
          <td>{{file.start_date}}</td>
          <td>{{file.username}}</td>
          <td>{{file.upload_date}}</td>
          <td>
            {% if LoggedIn %}
              {% if file.username == session.username %}
                <form action={{subd}}/delete_CPCFile/{{file.id}} method="post" onsubmit="return confirm('Are you sure?');">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger pull-right">
                </form>
              {% endif %}
            {% endif %}
          </td>
          <td>
              <div class="dropdown">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuSingle_{{file.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Show Map
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuSingle_{{file.id}}">
                    <li><a class="dropdown-item" href="{{subd}}/maps/{{file.id}}?type=single&color=gr" target="_blank">Green-Red Scale</a></li>
                    <li><a class="dropdown-item" href="{{subd}}/maps/{{file.id}}?type=single&color=bg" target="_blank">Blue-Green Scale</a></li>
                    <li><a class="dropdown-item" href="{{subd}}/maps/{{file.id}}?type=single&color=by" target="_blank">Blue-Yellow Scale</a></li>
                  </ul>
              </div>
          </td>
          <td>
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuMulti_{{file.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Show Map
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuMulti_{{file.id}}">
                    <li><a class="dropdown-item" href="{{subd}}/maps/{{file.id}}?type=multi&color=gr" target="_blank">Green-Red Scale</a></li>
                    <li><a class="dropdown-item" href="{{subd}}/maps/{{file.id}}?type=multi&color=bg" target="_blank">Blue-Green Scale</a></li>
                    <li><a class="dropdown-item" href="{{subd}}/maps/{{file.id}}?type=multi&color=by" target="_blank">Black-Yellow Scale</a></li>
                  </ul>
              </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
            var table = $('#upload-table').DataTable({
              columnDefs: [
                  {targets: [5,6,7], orderable: false}
              ],
                order: [[0, "desc"]]
            });
        });
    </script>
{% endblock %}